.sideBar{
  max-width: 15vw;
  min-width: 15vw;
  height: 250vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.sideBarMenu{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  gap: 3rem;
  align-items: flex-start;
  padding-left: 3rem;
}

.menuItem{
  color: white;
}

.page{
  display: flex;
  flex-direction: row;
}

.dashboard{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
}

.scrollView{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 30vh;
  max-height: 30vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: scroll;
  width: 70vw;
  overflow-x:hidden;
  align-items: center;
}

.scrollItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 8vh;
  max-height: 8vh;
  background-color: #FFFFFF14;
  width: 100%;
  justify-content: center;
}

.scrollField{
  width: 15vw;
  height: 100%;
  /* background-color: #FFFFFF14; */
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.netWorthText{
  color: white;
  font-size: 1.5rem;
}

.dailyRate{
  color: #3C89E8;
  border-radius: 4px;
  width: 5vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--color-border, #424242);
}

.title{
  color: #ffffff74;
}

.view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.coreView{
  display: flex;
  flex-direction: column;
  margin-left: 7.5vw;
  height: 40vh;
  justify-content: space-around;
}

.coreWorth{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.netWorth{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.subWorth{
  display: flex;
  gap: 5rem;
}

.subView{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  align-items: center;
}

.barView{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
}

.barChartName{
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.listView{
  min-height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.graphView{
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphSubWorth {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.deltaDeposit{
  color: #3C89E8;
}

.pieView{
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
  flex-direction: row;
  width: 65vw;
  padding-left: 7.5vw;
  justify-content: space-between;
}

.pie{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.poolContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
}

.addBtn{
  width: 5rem;
  height: 3vh;
  border-radius: 2px;
  border: 1px solid var(--primary-6, #1890FF);
  background: var(--primary-6, #1890FF);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}